[submodule "newsmth/Frameworks/asi-http-request"]
	path = newsmth/Frameworks/asi-http-request
	url = git@github.com:Maxwin-z/asi-http-request.git
[submodule "newsmth/ThirdParty/OWActivityViewController"]
	path = newsmth/ThirdParty/OWActivityViewController
	url = git@github.com:Maxwin-z/OWActivityViewController.git
[submodule "newsmth/ThirdParty/PBWebViewController"]
	path = newsmth/ThirdParty/PBWebViewController
	url = git@github.com:Maxwin-z/PBWebViewController.git
[submodule "newsmth/ThirdParty/fishhook"]
	path = newsmth/ThirdParty/fishhook
	url = git@github.com:Maxwin-z/fishhook.git

[submodule "newsmth/ThirdParty/iOS-blur"]
	path = newsmth/ThirdParty/iOS-blur
	url = git@github.com:JagCesar/iOS-blur.git
[submodule "newsmth/ThirdParty/SSZipArchive"]
	path = newsmth/ThirdParty/SSZipArchive
	url = git@github.com:Maxwin-z/ssziparchive.git
