@font-face {
  font-family: "FZLTXHK";
  src: url("https://public-1255362875.cos.ap-shanghai.myqcloud.com/xsmth/LanTingXiHei_GBK.TTF")
    format("truetype");
}

html,
body {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
}

button,
textarea {
  font-size: 16px;
}

#title {
  font-size: 150%;
  line-height: 1.2em;
  padding: 10px 0;
}
.main {
  margin-left: 15px;
}
.page-placeholder {
  padding: 10px 15px 0 0;
  height: 100px;
  border-top: 1px solid lightgrey;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.page-placeholder:first {
  border-top: none;
}

.login-button,
.button {
  border: 1px solid lightgray;
  background-color: #f0f0f0;
  font-size: 16px;
  width: 200px;
  line-height: 30px;
  text-align: center;
  margin: auto;
}

.page-init {
  text-align: center;
  line-height: 100px;
  font-size: 40px;
}

.footer {
  text-align: center;
  margin-bottom: 44px;
}

.loading-container {
  font-size: 16px;
  text-align: center;
}

.loading-icon {
  width: 32px;
  height: 32px;
  margin: auto;
  background-image: url("./assets/icon_loading.png");
  background-repeat: no-repeat;
  background-size: 32px;
  animation: spin 2s linear infinite;
}

.loading-icon.hide {
  background-image: none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.post {
  padding: 10px 10px 10px 0;
  border-top: 1px solid lightgrey;
  overflow-wrap: break-word;
}
.post-title {
  margin-bottom: 10px;
  position: relative;
}

.post-action {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
}

.post-action .action {
  border: 1px solid blue;
  padding: 2px 0px;
  border-radius: 2px;
  padding: 0px 5px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 24px;
}

.floor {
  margin-right: 10px;
}

.ximg-box {
  position: relative;
}
.ximg-info {
  position: absolute;
  padding: 2px;
  font-size: 12px;
  line-height: 15px;
  background-color: rgba(199, 199, 199, 0.5);
  top: 0;
  left: 0;
}
.ximg {
  max-width: 90vw;
  min-width: 200px;
}

/* for ubb */
.ximg-emoji {
  display: inline;
}
.ximg-emoji .ximg-info {
  display: none;
}

.ximg-emoji .ximg {
  max-width: none;
  min-width: 0;
}

.hidden {
  display: none;
}

.single-author-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 10px;
  bottom: 160px;
  width: 40px;
  font-size: 12px;
  background-color: lightgray;
  text-align: center;
  border-radius: 20px;
  color: black;
  padding-bottom: 10px;
}
.single-author-box .btn {
  flex: 1;
  margin: auto;
}
.single-author-box .arrow {
  margin: auto;
}
.single-author-box .arrow:after {
  border-bottom-color: lightgray;
}

.arrow {
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-bottom: 15px solid black;
  position: relative;
}
.arrow:after {
  content: "";
  position: absolute;
  top: -13px;
  left: -14px;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  border-bottom: 14px solid white;
}
.arrow.down {
  transform: rotate(180deg);
}

.del {
  right: 0;
  top: 0;
  margin-top: -6px;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  background: gray;
  border-radius: 50%;
}

.del::before,
.del::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 70%;
  top: 50%;
  left: 3px;
  margin-top: -1px;
  background: #fff;
}

.del::before {
  transform: rotate(45deg);
}

.del::after {
  transform: rotate(-45deg);
}
