.post {
  margin-left: 15px;
  padding: 5px 0;
  border-top: 1px solid red;
  overflow-wrap: break-word;
}
.post-title {
  margin-bottom: 10px;
  position: relative;
}

.post-action {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
}

.post-action .action {
  border: 1px solid blue;
  padding: 2px 3px;
  margin: 3px;
}

.floor {
  margin-right: 10px;
}

font.f006 {
  color: #878787;
}
