html,
body {
  margin: 0;
  padding: 0;
}

.main {
  font-family: monospace, "Courier New", Courier;
  padding-left: 10px;
  word-break: break-all;
}

table,
th,
td {
  border-width: 1px;
  border-style: solid;
}
table {
  border-collapse: collapse;
}
.userlist {
  font-size: 16px;
  width: 98%;
  margin-right: 6px;
}
.userlist th {
  white-space: nowrap;
  text-align: left;
}

.userlist th,
.userlist td {
  padding: 0 6px;
}
